*{
    font-family: monospace;
}
body{
    margin: 20px;
    background-color: aliceblue;
    font-size: 20px;
}
header{
    height: 100vh;
    color: white ;
    background-color: darkmagenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    text-align: center;

}
.buttons{
    display: flex;
}
button{
    margin: 10px;
    padding: 10px 20px;
}
h1{
    font-size: 50px;
    color: darkmagenta;
    
}
header h1{
    color: white;
    margin: 1px;
    text-align: center;
}

.button{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 20px;
    cursor:pointer;
    text-align: center;
    
}
.button:hover{
    color: white;
    background-color:chartreuse;
    text-align: center;

}
img{
    height: 200px;
    
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 1px solid gray;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center
    
}
.submit:hover{
    color: black;
    background-color:chartreuse;
    text-align: center;
}
.submit{
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 20px;
    cursor:pointer;
    color: white;
    background-color:darkmagenta;
    text-align: center;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
footer{
    height: 124px;
    background-color: black;
    color: lightslategray;
    text-align: center;
}
ol{
    list-style-position: inside;
    padding: 0;
}
    
   

     
